In [2]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\admin\anaconda3\envs\bs\lib\site-packages (0.18.0)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from mlxtend) (1.0.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from mlxtend) (1.6.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.1.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.12.5)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\envs\bs\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)

In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [5]:
dataset = [['사과','치즈','생수'],
          ['생수','호두','치즈','고등어'],
          ['수박','사과','생수'],
          ['생수','호두','치즈','옥수수']]

In [10]:
te = TransactionEncoder() # 원핫인코딩때처럼 리스트화해주고 관측치별로 있으면 트루 없으면 풜스
te_ary = te.fit_transform(dataset)
df = pd.DataFrame(te_ary, columns= te.columns_)
df

     고등어     사과    생수     수박    옥수수     치즈     호두
0  False   True  True  False  False   True  False
1   True  False  True  False  False   True   True
2  False   True  True   True  False  False  False
3  False  False  True  False   True   True   True

In [12]:
# 지지도 0.5
frequent_itemsets = apriori(df, min_support = 0.5, use_colnames= True)
frequent_itemsets

   support      itemsets
0     0.50          (사과)
1     1.00          (생수)
2     0.75          (치즈)
3     0.50          (호두)
4     0.50      (생수, 사과)
5     0.75      (생수, 치즈)
6     0.50      (생수, 호두)
7     0.50      (호두, 치즈)
8     0.50  (생수, 호두, 치즈)

In [13]:
#연관성이 높은 품목
(호두),(치즈)
(호두,생수),(치즈)
(호두),(치즈,생수)

NameError: name '호두' is not defined

In [14]:
dataset = [['Milk','Onion',' Nutmeg','Eggs','Yogurt'],
          ['Onion','Nutmeg','Eggs','Yogurt'],
          ['Milk','Apple','Eggs'],
          ['Milk','Unicorn','Corn','Yogurt'],
          ['Corn','Onion','Onion','Ice cream','Eggs']]

In [15]:
te = TransactionEncoder() # 원핫인코딩때처럼 리스트화해주고 관측치별로 있으면 트루 없으면 풜스
te_ary = te.fit_transform(dataset)
df = pd.DataFrame(te_ary, columns= te.columns_)
df

    Nutmeg  Apple   Corn   Eggs  Ice cream   Milk  Nutmeg  Onion  Unicorn  Yogurt
0     True  False  False   True      False   True   False   True    False    True
1    False  False  False   True      False  False    True   True    False    True
2    False   True  False   True      False   True   False  False    False   False
3    False  False   True  False      False   True   False  False     True    True
4    False  False   True   True       True  False   False   True    False   False

In [16]:
frequent_itemsets = apriori(df, min_support = 0.5, use_colnames= True)
frequent_itemsets

   support       itemsets
0      0.8         (Eggs)
1      0.6         (Milk)
2      0.6        (Onion)
3      0.6       (Yogurt)
4      0.6  (Onion, Eggs)

In [18]:
from mlxtend.frequent_patterns import apriori, association_rules
association_rules(frequent_itemsets, metric = 'confidence', min_threshold=0.5)

  antecedents consequents  antecedent support  consequent support  support  confidence  lift  leverage  conviction
0     (Onion)      (Eggs)                 0.6                 0.8      0.6        1.00  1.25      0.12         inf
1      (Eggs)     (Onion)                 0.8                 0.6      0.6        0.75  1.25      0.12         1.6

[과제]
6개 이상의 연관규칙을 구하세요.

In [20]:
dataset = [['아메리카노','카페라떼'],
          ['카페라떼','아메리카노','카푸치노'],
          ['바닐라라떼','아메리카노'],
          ['카페라떼','아메리카노','카푸치노'],
           ['바닐라라떼','아메리카노'],
           ['녹차라떼','카페라떼','아메리카노'],
           ['카페모카','아메리카노'],
           ['아메리카노','카페라떼'],
           ['초콜릿','아메리카노'],
           ['아메리카노'],
           ['카페모카','카페라떼']
          ]

In [22]:
te = TransactionEncoder()
te_ary = te.fit_transform(dataset)
df = pd.DataFrame(te_ary, columns = te.columns_)
df

     녹차라떼  바닐라라떼  아메리카노    초콜릿   카페라떼   카페모카   카푸치노
0   False  False   True  False   True  False  False
1   False  False   True  False   True  False   True
2   False   True   True  False  False  False  False
3   False  False   True  False   True  False   True
4   False   True   True  False  False  False  False
5    True  False   True  False   True  False  False
6   False  False   True  False  False   True  False
7   False  False   True  False   True  False  False
8   False  False   True   True  False  False  False
9   False  False   True  False  False  False  False
10  False  False  False  False   True   True  False

In [29]:
frequent_itemsets = apriori(df, min_support = 0.1, use_colnames= True)
frequent_itemsets

    support             itemsets
0  0.181818              (바닐라라떼)
1  0.909091              (아메리카노)
2  0.545455               (카페라떼)
3  0.181818               (카페모카)
4  0.181818               (카푸치노)
5  0.181818       (바닐라라떼, 아메리카노)
6  0.454545        (카페라떼, 아메리카노)
7  0.181818        (카푸치노, 아메리카노)
8  0.181818         (카페라떼, 카푸치노)
9  0.181818  (카페라떼, 카푸치노, 아메리카노)